@import "src/styles/colors.scss";

.box {
  background-color: $black;
  border: 1px solid $gray;
  border-radius: 12px;
  height: 60vh;
  padding: 0 1rem;
}

h3.title {
  font-weight: 700;
  color: $white-egg;
}

h5.message {
  font-weight: 400;
  color: $gray-light;
}
