.btn {
  font-weight: 600;
}

.btn-dark {
  border-color: $gray;
  color: #A4A4A4;
}

.btn-dark.active {
  background-color: $white;
  color: $dark;
  .badge {
    background-color:#3D3D3D;
    color: $gray-light;
  }
}

.btn-light {
  background-color: $white;
  border-color: $gray;
  color: $dark;
}

.btn-light:hover {
  background-color: none;
  border-color: $gray;
  color: $white;
}
